<div class="container mx-auto py-10">
  <h1 class="text-4xl font-semibold">Angular Components</h1>

  <div class="mt-5">
    <div>
      <h2 class="text-3xl mb-2 font-semibold">Add Post</h2>

      <app-post-form></app-post-form>
    </div>

    <hr class="my-6">

    <div>
      <h2 class="text-3xl font-semibold">Posts</h2>

      <ul class="mt-4 grid gap-4">
        <li *ngFor="let item of posts">
          <app-post [post]="item"></app-post>
        </li>
      </ul>
    </div>
  </div>
</div>
